{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": "current node"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "externalHelpers": true,
    "loose": false
  },
  "module": {
    "type": "es6"
  },
  "minify": true
}
